# Temp files
*.[oad]
*.absyn
*.swp
*~
.directory

# Binaries
spl
*.tar.gz
*.tar.bz2
*.rar

# IDE/Maintainance files
.project
ChangeLog
*.kdev4

# Debugging
lex.yy.c
parser.output
parser.dot
parser.svg
parser.tab.*
parser_*.txt
core
